__logs/*
__allemand/*
votes/.ipynb_checkpoints/Untitled-checkpoint.ipynb
votes/calcul-presence.ipynb
votes/Tous votes Constituante - Sheet1 copie.csv
votes/votes-analysis.py
votes/Tous votes Constituante - Sheet1 2021.01.12.csv
votes/Tous votes Constituante - Sheet1 bkp.02.09.22.csv
votes/Tous votes Constituante - Sheet1-bkp220828.csv
